@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$primary: #2d3e50;

$theme-colors: (
  "primary":    $primary
);

$font-family-base: "Open Sans", sans-serif;

@import '~bootstrap/scss/bootstrap';
